{# Side-pane with table of contents #}
<nav class="wm-toc-pane">
  {# Optional link to the repository #}
  {%- block site_nav %}
  <ul class="wm-toctree">
    {%- set navlevel = 1 %}
    {%- for nav_item in nav %}
        {% include 'nav-item.html' %}
    {%- endfor %}
  </ul>
  {%- endblock %}

  <div class="wm-toc-quick-links">
    <div class="wm-toc-quick-links-header"><span class="wm-toc-text">Quick Links</span></div>
    <ul class="wm-toctree">
      <li class="wm-toc-li wm-toc-lev2">
        <a href="https://community.getgrist.com/" class="wm-quick-link wm-toc-text">Community</a>
      </li>
      <li class="wm-toc-li wm-toc-lev2">
        <a href="https://docs.getgrist.com/p/templates" class="wm-quick-link wm-toc-text">Templates</a>
      </li>
      <li class="wm-toc-li wm-toc-lev2">
        <a href="https://github.com/gristlabs/grist-core/projects/1" class="wm-quick-link wm-toc-text">Roadmap</a>
      </li>
    </ul>

  {%- block repo %}
    {%- if config.repo_url %}
    <ul class="wm-toctree wm-toc-repo">
      <li class="wm-toc-li wm-toc-lev2">
      <a class="wm-quick-link wm-toc-text" href="{{ config.repo_url }}">
        {% include 'repo-icon.html' %}
        Edit on {{ config.repo_name }}
      </a>
      </li>
    </ul>
    {%- endif %}
  {%- endblock %}

  </div>

</nav>

