site_name: Grist Help Center
site_dir: site
site_description: "Tutorials and resources for Grist, to help you organize your data, your way."
site_url: "https://support.getgrist.com"
repo_name: "GitHub"
repo_url: "https://github.com/gristlabs/grist-help"

# use directory urls (for prettiness) unless running htmlproofing
# (which is confused by them).
use_directory_urls: !ENV [HTMLPROOFER_OVERRIDE_USE_DIRECTORY_URLS, true]

docs_dir: './help'
# windmill is a theme maintained by Grist Labs in https://github.com/gristlabs/mkdocs-windmill
theme:
  name: windmill
  custom_dir: overrides
nav:
  - Welcome to Grist: index.md
  - FAQ: FAQ.md
  - How-To Tutorials:
    - Create your own CRM: lightweight-crm.md
    - Analyze and visualize: investment-research.md
    - Manage business data: afterschool-program.md
  - Managing documents:
    - Creating a document: creating-doc.md
    - Sharing a document: sharing.md
    - Copying documents: copying-docs.md
    - Importing more data: imports.md
    - Exports & backups: exports.md
    - Automatic backups: automatic-backups.md
    - Document history: document-history.md
    - Workspaces: workspaces.md
  - Pages and Tables:
    - Entering data: enter-data.md
    - Pages & widgets: page-widgets.md
    - Raw data page: raw-data.md
    - Search, sort & filter: search-sort-filter.md
    - Table widget: widget-table.md
    - Card & Card List: widget-card.md
    - Chart: widget-chart.md
    - Calendar: widget-calendar.md
    - Custom: widget-custom.md
    - Linking widgets: linking-widgets.md
    - Custom layouts: custom-layouts.md
    - Record Cards: record-cards.md
    - Summary tables: summary-tables.md
    - On-Demand tables: on-demand-tables.md
  - Columns and data types:
    - Columns & types: col-types.md
    - Reference columns: col-refs.md
    - Conditional Formatting: conditional-formatting.md
    - Timestamp columns: timestamps.md
    - Authorship columns: authorship.md
    - Transformations: col-transform.md
  - Using formulas:
    - Intro to formulas: formulas.md
    - References and Lookups: references-lookups.md
    - Working with dates: dates.md
    - Python versions: python.md
    - Function reference: functions.md
    - Formula Cheat Sheet: formula-cheat-sheet.md
  - AI Assistant:
    - AI Assistant: ai-assistant.md
  - Team Sites:
    - Creating team sites: teams.md
    - Sharing team sites: team-sharing.md
  - Access rules:
    - Intro to access rules: access-rules.md
  - Integrations:
    - REST API usage: rest-api.md
    - REST API reference: api.md
    - Integrator Services: integrators.md
    - Embedding: embedding.md
    - Plugin API:
      - Intro to Plugin API: code/README.md
      - grist-plugin-api: code/modules/grist_plugin_api.md
      - ... | flat | **/code/interfaces/**
      - ... | flat | **/code/modules/**
  - Self-Managed:
    - Self-managed Grist: self-managed.md
    - SAML: install/saml.md
    - OIDC: install/oidc.md
    - Forwarded headers: install/forwarded-headers.md
    - Cloud storage: install/cloud-storage.md
    - GristConnect: install/grist-connect.md
    - Telemetry:
      - Overview of Telemetry: telemetry.md
      - Limited Telemetry: telemetry-limited.md
      - Full Telemetry: telemetry-full.md
  - News & updates:
    - Newsletters: newsletters.md
    - 2023/12: newsletters/2023-12.md
    - 2023/11: newsletters/2023-11.md
    - 2023/10: newsletters/2023-10.md
    - 2023/09: newsletters/2023-09.md
    - 2023/08: newsletters/2023-08.md
    - 2023/07: newsletters/2023-07.md
    - 2023/06: newsletters/2023-06.md
    - 2023/05: newsletters/2023-05.md
    - 2023/04: newsletters/2023-04.md
    - 2023/03: newsletters/2023-03.md
    - 2023/02: newsletters/2023-02.md
    - 2023/01: newsletters/2023-01.md
    - 2022/12: newsletters/2022-12.md
    - 2022/11: newsletters/2022-11.md
    - 2022/10: newsletters/2022-10.md
    - 2022/09: newsletters/2022-09.md
    - 2022/08: newsletters/2022-08.md
    - 2022/07: newsletters/2022-07.md
    - 2022/06: newsletters/2022-06.md
    - 2022/05: newsletters/2022-05.md
    - 2022/04: newsletters/2022-04.md
    - 2022/03: newsletters/2022-03.md
    - 2022/02: newsletters/2022-02.md
    - 2022/01: newsletters/2022-01.md
    - 2021/12: newsletters/2021-12.md
    - 2021/11: newsletters/2021-11.md
    - 2021/10: newsletters/2021-10.md
    - 2021/09: newsletters/2021-09.md
    - 2021/08: newsletters/2021-08.md
    - 2021/07: newsletters/2021-07.md
    - 2021/06: newsletters/2021-06.md
    - 2021/05: newsletters/2021-05.md
    - 2021/04: newsletters/2021-04.md
    - 2021/03: newsletters/2021-03.md
    - 2021/02: newsletters/2021-02.md
    - 2021/01: newsletters/2021-01.md
    - 2020/12: newsletters/2020-12.md
    - 2020/11: newsletters/2020-11.md
    - 2020/10: newsletters/2020-10.md
    - 2020/09: newsletters/2020-09.md
    - 2020/08: newsletters/2020-08.md
    - 2020/07: newsletters/2020-07.md
    - 2020/06: newsletters/2020-06.md
    - 2020/05: newsletters/2020-05.md
  - More examples:
      - More examples: examples.md
      - Credit card expenses: examples/2020-06-credit-card.md
      - Book club links: examples/2020-06-book-club.md
      - Prefill emails: examples/2020-07-email-compose.md
      - Prepare Invoices: examples/2020-08-invoices.md
      - Track Payroll: examples/2020-09-payroll.md
      - Print mailing labels: examples/2020-10-print-labels.md
      - Treasure Hunt: examples/2020-11-treasure-hunt.md
      - Map: examples/2020-12-map.md
      - Task Management: examples/2021-01-tasks.md
      - Lead List: examples/2021-03-leads.md
      - Link Keys Guide: examples/2021-04-link-keys.md
      - Reference Columns Guide: examples/2021-05-reference-columns.md
      - Summary Tables Guide: examples/2021-06-timesheets.md
      - Time and User Stamps: examples/2021-07-auto-stamps.md
      - Restrict Duplicate Records: examples/2023-01-acl-memo.md
      - Proposals & Contracts: examples/2023-07-proposals-contracts.md
  - Reference:
    - Shortcuts: keyboard-shortcuts.md
    # The function reference (functions.md) is listed above; here is an intentionally non-standard
    # link, so that only the above page item gets highlighted when the function reference is open.
    - Function reference: /functions/
    - Limits: limits.md
    - Data Security: data-security.md
    - Browser Support: browser-support.md
    - Glossary: glossary.md

extra:
  logo: 'images/logo.png'
  palette:
    primary: 'blue grey'
    accent: 'orange'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  homepage: '/help'
  version: '1.0.2-dev'
  article_nav_bottom: false
  history_buttons: false
  home_links:
    - href: https://community.getgrist.com
      text: 'Community'
    - href: https://www.getgrist.com
      text: 'Back to Grist'
      hide_on_small_screen: true
  google_tag_manager: 'GTM-5FDHKQ9'
extra_css:
  - css/grist.css
extra_javascript:
  - js/grist.js

plugins:
  - search
  - awesome-pages
  - htmlproofer:
      enabled: !ENV [HTMLPROOFER_ENABLED, false]
      validate_external_urls: false
  - meta-descriptions

markdown_extensions:
  toc:
      permalink: '#'
  admonition: {}
  smarty: {}
  extra: {}
  meta: {}
