INHERIT: ./mkdocs-alternate-langs.yml
site_name: Grist Help Center
site_dir: site
site_description: "Tutorials and resources for Grist, to help you organize your data, your way."
site_url: "https://support.getgrist.com"
repo_name: "GitHub"
repo_url: "https://github.com/gristlabs/grist-help"

# use directory urls (for prettiness) unless running htmlproofing
# (which is confused by them).
use_directory_urls: !ENV [HTMLPROOFER_OVERRIDE_USE_DIRECTORY_URLS, true]

docs_dir: './help/en/docs' # Add localization folder here for now, we'll handle i18n later
# windmill is a theme maintained by Grist Labs in https://github.com/gristlabs/mkdocs-windmill
theme:
  name: windmill
  custom_dir: overrides
  # Disable the language selector when running in live (so for a specific language)
  disable_language_selector: !ENV [DISABLE_LANGUAGE_SELECTOR, false]
nav:
  - index.md
  - FAQ.md
  - How-to tutorials:
    - lightweight-crm.md
    - investment-research.md
    - afterschool-program.md
  - Managing documents:
    - creating-doc.md
    - sharing.md
    - copying-docs.md
    - imports.md
    - exports.md
    - automatic-backups.md
    - document-history.md
    - workspaces.md
  - Pages and tables:
    - enter-data.md
    - page-widgets.md
    - raw-data.md
    - search-sort-filter.md
    - widget-table.md
    - widget-card.md
    - widget-form.md
    - widget-chart.md
    - widget-calendar.md
    - widget-custom.md
    - linking-widgets.md
    - custom-layouts.md
    - record-cards.md
    - summary-tables.md
    - on-demand-tables.md
  - Columns and data types:
    - col-types.md
    - col-refs.md
    - conditional-formatting.md
    - timestamps.md
    - authorship.md
    - col-transform.md
  - Using formulas:
    - formulas.md
    - references-lookups.md
    - dates.md
    - formula-timer.md
    - python.md
    - functions.md
    - formula-cheat-sheet.md
  - AI Formula Assistant:
    - ai-assistant.md
  - Team sites:
    - teams.md
    - team-sharing.md
  - Access rules:
    - access-rules.md
  - Integrations:
    - rest-api.md
    - api.md
    - integrators.md
    - embedding.md
    - webhooks.md
    - Plugin API:
      - code/README.md
      - code/modules/grist_plugin_api.md
      - ... | flat | **/code/interfaces/**
      - ... | flat | **/code/modules/**
  - Self-managed:
    - self-managed.md
    - install/saml.md
    - install/oidc.md
    - install/forwarded-headers.md
    - install/cloud-storage.md
    - install/grist-connect.md
    - install/aws-marketplace.md
    - Telemetry:
      - telemetry.md
      - telemetry-limited.md
      - telemetry-full.md
  - News & updates:
    - newsletters.md
    - newsletters/2024-07.md
    - newsletters/2024-06.md
    - newsletters/2024-05.md
    - newsletters/2024-04.md
    - newsletters/2024-03.md
    - newsletters/2024-02.md
    - newsletters/2024-01.md
    - newsletters/2023-12.md
    - newsletters/2023-11.md
    - newsletters/2023-10.md
    - newsletters/2023-09.md
    - newsletters/2023-08.md
    - newsletters/2023-07.md
    - newsletters/2023-06.md
    - newsletters/2023-05.md
    - newsletters/2023-04.md
    - newsletters/2023-03.md
    - newsletters/2023-02.md
    - newsletters/2023-01.md
    - newsletters/2022-12.md
    - newsletters/2022-11.md
    - newsletters/2022-10.md
    - newsletters/2022-09.md
    - newsletters/2022-08.md
    - newsletters/2022-07.md
    - newsletters/2022-06.md
    - newsletters/2022-05.md
    - newsletters/2022-04.md
    - newsletters/2022-03.md
    - newsletters/2022-02.md
    - newsletters/2022-01.md
    - newsletters/2021-12.md
    - newsletters/2021-11.md
    - newsletters/2021-10.md
    - newsletters/2021-09.md
    - newsletters/2021-08.md
    - newsletters/2021-07.md
    - newsletters/2021-06.md
    - newsletters/2021-05.md
    - newsletters/2021-04.md
    - newsletters/2021-03.md
    - newsletters/2021-02.md
    - newsletters/2021-01.md
    - newsletters/2020-12.md
    - newsletters/2020-11.md
    - newsletters/2020-10.md
    - newsletters/2020-09.md
    - newsletters/2020-08.md
    - newsletters/2020-07.md
    - newsletters/2020-06.md
    - newsletters/2020-05.md
  - More examples:
      - examples.md
      - examples/2020-06-credit-card.md
      - examples/2020-06-book-club.md
      - examples/2020-07-email-compose.md
      - examples/2020-08-invoices.md
      - examples/2020-09-payroll.md
      - examples/2020-10-print-labels.md
      - examples/2020-11-treasure-hunt.md
      - examples/2020-12-map.md
      - examples/2021-01-tasks.md
      - examples/2021-03-leads.md
      - examples/2021-04-link-keys.md
      - examples/2021-05-reference-columns.md
      - examples/2021-06-timesheets.md
      - examples/2021-07-auto-stamps.md
      - examples/2023-01-acl-memo.md
      - examples/2023-07-proposals-contracts.md
  - Reference:
    - keyboard-shortcuts.md
    # The function reference (functions.md) is listed above; here is an intentionally non-standard
    # link, so that only the above page item gets highlighted when the function reference is open.
    - functions.md
    - limits.md
    - data-security.md
    - browser-support.md
    - glossary.md

extra:
  logo: 'images/logo.png'
  palette:
    primary: 'blue grey'
    accent: 'orange'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  homepage: '/help'
  version: '1.0.2-dev'
  article_nav_bottom: false
  history_buttons: false
  home_links:
    - href: https://community.getgrist.com
      text: 'Community'
    - href: https://www.getgrist.com
      text: 'Back to Grist'
      hide_on_small_screen: true
  google_tag_manager: 'GTM-5FDHKQ9'
extra_css:
  - css/grist.css
extra_javascript:
  - js/grist.js

plugins:
  - search
  - awesome-pages
  - htmlproofer:
      enabled: !ENV [HTMLPROOFER_ENABLED, false]
      validate_external_urls: false
  - meta-descriptions

markdown_extensions:
  toc:
      permalink: '#'
  admonition: {}
  smarty: {}
  extra: {}
  meta: {}
  attr_list: {}

hooks:
- ../../mkdocs-utils/hooks.py
