site_name: Grist Help Center
site_dir: site
site_favicon: images/favicon.png
site_description: "Tutorials and resources for Grist, to help you organize your data, your way."
site_url: "https://support.getgrist.com"

docs_dir: './help'
# windmill is a theme maintained by Grist Labs in https://github.com/gristlabs/mkdocs-windmill
theme:
  name: windmill
  custom_dir: overrides
nav:
  - Welcome to Grist: index.md
  - How-To Tutorials:
    - Create your own CRM: lightweight-crm.md
    - Analyze and visualize: investment-research.md
    - Manage business data: afterschool-program.md
  - Managing documents:
    - Creating a document: creating-doc.md
    - Sharing a document: sharing.md
    - Copying documents: copying-docs.md
    - Team sharing [team]: team-sharing.md
    - Workspaces [team]: workspaces.md
    - Importing more data: imports.md
    - Exports & backups: exports.md
    - Automatic Backups: automatic-backups.md
  - Pages and Tables:
    - Entering data: enter-data.md
    - Pages & widgets: page-widgets.md
    - Search, sort & filter: search-sort-filter.md
    - Table widget: widget-table.md
    - Card & Card List: widget-card.md
    - Chart: widget-chart.md
    - Custom: widget-custom.md
    - Linking widgets: linking-widgets.md
    - Custom layouts: custom-layouts.md
    - Summary tables: summary-tables.md
    - On-Demand tables: on-demand-tables.md
  - Columns and data types:
    - Columns & types: col-types.md
    - Reference columns: col-refs.md
    - Transformations: col-transform.md
  - Using formulas:
    - Intro to formulas: formulas.md
    - Working with dates: dates.md
    - Function reference: functions.md
  - Access rules:
    - Intro to access rules: access-rules.md
  - API:
    - API usage: rest-api.md
    - API reference: api.md
  - News & updates:
    - Newsletters: newsletters.md
    - 2021/06: newsletters/2021-06.md
    - 2021/05: newsletters/2021-05.md
    - 2021/04: newsletters/2021-04.md
    - 2021/03: newsletters/2021-03.md
    - 2021/02: newsletters/2021-02.md
    - 2021/01: newsletters/2021-01.md
    - 2020/12: newsletters/2020-12.md
    - 2020/11: newsletters/2020-11.md
    - 2020/10: newsletters/2020-10.md
    - 2020/09: newsletters/2020-09.md
    - 2020/08: newsletters/2020-08.md
    - 2020/07: newsletters/2020-07.md
    - 2020/06: newsletters/2020-06.md
    - 2020/05: newsletters/2020-05.md
  - More examples:
      - More examples: examples.md
      - Credit card expenses: examples/2020-06-credit-card.md
      - Book club links: examples/2020-06-book-club.md
      - Prefill emails: examples/2020-07-email-compose.md
      - Prepare Invoices: examples/2020-08-invoices.md
      - Track Payroll: examples/2020-09-payroll.md
      - Print mailing labels: examples/2020-10-print-labels.md
      - Treasure Hunt: examples/2020-11-treasure-hunt.md
      - Map: examples/2020-12-map.md
      - Task Management: examples/2021-01-tasks.md
      - Lead List: examples/2021-03-leads.md
      - Link Keys Guide: examples/2021-04-link-keys.md
      - Reference Columns Guide: examples/2021-05-reference-columns.md
      - Summary Tables Guide: examples/2021-06-timesheets.md
  - Reference:
    - Shortcuts: keyboard-shortcuts.md
    - Limits: limits.md
    - Browser Support: browser-support.md
    - Glossary: glossary.md

extra:
  logo: 'images/logo.png'
  palette:
    primary: 'blue grey'
    accent: 'orange'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  homepage: '/help'
  version: '1.0.2-dev'
  article_nav_bottom: false
  history_buttons: false
  home_link:
    href: https://www.getgrist.com
    text: 'Grist Home'
extra_css:
  - css/grist.css
extra_javascript:
  - js/grist.js

markdown_extensions:
  - toc:
      permalink: '#'
  - admonition
  - smarty
  - extra

google_analytics: ['GTM-5FDHKQ9', 'auto']
