click==7.1.2
future==0.18.2
Jinja2==2.11.2
joblib==0.16.0
livereload==2.6.2
lunr==0.5.8
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.2.3
mkdocs-windmill==1.0.4
nltk==3.5
PyYAML==5.3.1
regex==2020.7.14
six==1.15.0
tornado==6.0.4
tqdm==4.48.0
