info:
  description: "An API for manipulating Grist sites, workspaces, and documents."
  version: "1.0.1"
  title: "Grist API"
openapi: 3.0.0
security:
  - API Key: []   
servers:
  - url: https://docs.getgrist.com/api
paths:
  /orgs:
    get:
      tags:
        - orgs
      summary: "List the orgs you have access to"
      description: "This enumerates all the team sites or personal areas available."
      responses:
        200:
          description: An array of organizations
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Orgs"
  /orgs/{orgId}:
    get:
      tags:
        - orgs
      summary: "Describe an org"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      responses:
        200:
          description: An organization
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Org"
    patch:
      tags:
        - orgs
      summary: "Modify an org"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrgParameters"
        required: true
      responses:
        200:
          description: Success

  /orgs/{orgId}/access:
    get:
      tags:
        - orgs
      summary: "List users with access to org"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      responses:
        200:
          description: "Users with access to org"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgAccessRead"
    patch:
      tags:
        - orgs
      summary: "Change who has access to org"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              type: object
              required:
                - delta
              properties:
                delta:
                  $ref: "#/components/schemas/OrgAccessWrite"
        required: true
  /orgs/{orgId}/workspaces:
    get:
      tags:
        - orgs
      summary: "List workspaces and documents within an org"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      responses:
        200:
          description: An org's workspaces and documents
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/OrgWithWorkspaces"
    post:
      tags:
        - workspaces
        - orgs
      summary: "Create an empty workspace"
      parameters:
        - in: path
          name: orgId
          schema:
            $ref: "#/components/schemas/OrgKey"
          required: true
      requestBody:
        description: "settings for the workspace"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceParameters"
        required: true
      responses:
        200:
          description: The workspace id
          content:
            application/json:
              schema:
                type: integer
                description: an identifier for the workspace
                example: 155



  /workspaces/{workspaceId}:
    get:
      tags:
        - workspaces
      summary: "Describe a workspace"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      responses:
        200:
          description: A workspace
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/WorkspaceWithOrg"
    post:
      tags:
        - workspaces
        - docs
      summary: "Create an empty document"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      requestBody:
        description: "settings for the document"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocParameters"
        required: true
      responses:
        200:
          description: The document id
          content:
            application/json:
              schema:
                type: string
                description: a unique identifier for the document
                example: "8b97c8db-b4df-4b34-b72c-17459e70140a"
    patch:
      tags:
        - workspaces
      summary: "Modify a workspace"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceParameters"
        required: true
      responses:
        200:
          description: Success
    delete:
      tags:
        - workspaces
      summary: "Delete a workspace"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      responses:
        200:
          description: Success

  /workspace/{workspaceId}/access:
    get:
      tags:
        - workspaces
      summary: "List users with access to workspace"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      responses:
        200:
          description: "Users with access to workspace"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceAccessRead"
    patch:
      tags:
        - workspaces
      summary: "Change who has access to workspace"
      parameters:
        - in: path
          name: workspaceId
          schema:
            $ref: "#/components/schemas/WorkspaceKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              type: object
              required:
                - delta
              properties:
                delta:
                  $ref: "#/components/schemas/WorkspaceAccessWrite"
        required: true



  /docs/{docId}:
    get:
      tags:
        - docs
      summary: "Describe a document"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      responses:
        200:
          description: A document's metadata
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/DocWithWorkspace"
    patch:
      tags:
        - docs
      summary: "Modify document metadata (but not its contents)"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocParameters"
        required: true
      responses:
        200:
          description: Success
    delete:
      tags:
        - docs
      summary: "Delete a document"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      responses:
        200:
          description: Success
  /docs/{docId}/move:
    patch:
      tags:
        - docs
      summary: "Move document to another workspace in the same org."
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      requestBody:
        description: "the target workspace"
        content:
          application/json:
            schema:
              type: object
              required:
                - workspace
              properties:
                workspace:
                  type: integer
                  example: 597
      responses:
        200:
          description: "Success"

  /docs/{docId}/access:
    get:
      tags:
        - docs
      summary: "List users with access to document"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      responses:
        200:
          description: "Users with access to document"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocAccessRead"
    patch:
      tags:
        - docs
      summary: "Change who has access to document"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      requestBody:
        description: "the changes to make"
        content:
          application/json:
            schema:
              type: object
              required:
                - delta
              properties:
                delta:
                  $ref: "#/components/schemas/DocAccessWrite"
        required: true
  /docs/{docId}/download:
    get:
      tags:
        - docs
      summary: "Content of document, as an Sqlite file"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      responses:
        200:
          description: A document's content in Sqlite form
          content:
            application/x-sqlite3:
              schema:
                type: string
                format: binary
  /docs/{docId}/tables/{tableId}/data:
    get:
      tags:
        - docs
      summary: "Fetch data from a table"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
        - in: path
          name: tableId
          schema:
            type: string
            description: name of a table (normalized)
          required: true
        - in: query
          name: filter
          schema:
            type: string
            description: "This is a JSON object mapping column names to arrays of allowed values.  For example, to filter column `pet` for values `cat` and `dog`, the filter would be `{\"pet\": [\"cat\", \"dog\"]}`. JSON contains characters that are not safe to place in a URL, so it is important to url-encode them.  For this example, the url-encoding is `%7B%22pet%22%3A%20%5B%22cat%22%2C%20%22dog%22%5D%7D`. See https://rosettacode.org/wiki/URL_encoding for how to url-encode a string, or https://www.urlencoder.org/ to try some examples. Multiple columns can be filtered. For example the filter for `pet` being either `cat` or `dog`, AND `size` being either `tiny` or `outrageously small`, would be `{\"pet\": [\"cat\", \"dog\"], \"size\": [\"tiny\", \"outrageously small\"]}`."
            example: "{\"pet\": [\"cat\", \"dog\"]}"
          required: false
        - in: query
          name: sort
          schema:
            type: string
            description: "Order in which to return results. If a single column name is given (e.g. `pet`), results are placed in ascending order of values in that column. Multiple columns can be specified, separated by commas (e.g. `pet,age`). For descending order, prefix a column name with a `-` character (e.g. `pet,-age`)."
            example: "pet,-age"
        - in: query
          name: limit
          schema:
            type: number
            description: "Return at most this number of rows.  A value of 0 is equivalent to having no limit."
            example: "5"
        - in: header
          name: X-Sort
          schema:
            type: string
            description: "Same as `sort` query parameter."
            example: "pet,-age"
        - in: header
          name: X-Limit
          schema:
            type: number
            description: "Same as `limit` query parameter."
            example: "5"
      responses:
        200:
          description: Cells from the table
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Data"
    post:
      tags:
        - docs
      summary: "Add rows to a table"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
        - in: path
          name: tableId
          schema:
            type: string
            description: name of a table (normalized)
          required: true
      requestBody:
        description: "the data to add"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataWithoutId"
        required: true
      responses:
        200:
          description: IDs of rows added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RowIds"
    patch:
      tags:
        - docs
      summary: "Modify rows of a table"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
        - in: path
          name: tableId
          schema:
            type: string
            description: name of a table (normalized)
          required: true
      requestBody:
        description: "the data to add, with ids"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Data"
        required: true
      responses:
        200:
          description: IDs of rows modified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RowIds"
  /docs/{docId}/attach:
    post:
      tags:
        - docs
      summary: "Upload attachments to a doc"
      parameters:
        - in: path
          name: docId
          schema:
            $ref: "#/components/schemas/DocKey"
          required: true
      requestBody:
        description: "the files to add to the doc"
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AttachmentUpload"
        required: true
      responses:
        200:
          description: IDs of attachments added, one per file.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RowIds"

tags:
  - name: orgs
    description: "Team sites and personal spaces are called 'orgs' in the API."
  - name: workspaces
    description: "Sites can be organized into groups of documents called workspaces."
  - name: docs
    description: "Workspaces contain collections of Grist documents."
components:
  securitySchemes:
    API Key:
      type: http
      scheme: bearer
      bearerFormat: "Authorization: Bearer XXXXXXXXXXX"
      description: "Access to the Grist API is controlled by an Authorization header, which should contain the word 'Bearer', followed by a space, followed by your API key."
  schemas:
    OrgKey:
      oneof:
        - integer
        - string
      description: This can be an integer id, or a string subdomain (e.g. `gristlabs`), or `current` if the org is implied by the domain in the url
    WorkspaceKey:
      type: integer
      description: An integer id
    DocKey:
      type: string
      description: A string id (UUID)
    Org:
      type: object
      required:
        - id
        - name
        - domain
        - owner
        - createdAt
        - updatedAt
        - access
      properties:
        id:
          type: integer
          format: int64
          example: 42
        name:
          type: string
          example: "Grist Labs"
        domain:
          type: string
          nullable: true
          example: "gristlabs"
        owner:
          type: object
          $ref: "#/components/schemas/User"
          nullable: true
        access:
          type: string
          $ref: "#/components/schemas/Access"
        createdAt:
          type: string
          example: "2019-09-13T15:42:35.000Z"
        updatedAt:
          type: string
          example: "2019-09-13T15:42:35.000Z"
    Orgs:
      type: array
      items:
        $ref: "#/components/schemas/Org"
    Workspace:
      type: object
      required:
        - id
        - name
        - access
      properties:
        id:
          type: integer
          format: int64
          example: 97
        name:
          type: string
          example: Secret Plans
        access:
          type: string
          $ref: "#/components/schemas/Access"
    Doc:
      type: object
      required:
        - id
        - name
        - isPinned
        - urlId
        - access
      properties:
        id:
          type: string
          example: 145
        name:
          type: string
          example: Project Lollipop
        access:
          type: string
          $ref: "#/components/schemas/Access"
        isPinned:
          type: boolean
          example: true
        urlId:
          type: string
          nullable: true
          example: null
    Workspaces:
      type: array
      items:
        $ref: "#/components/schemas/Workspace"
    WorkspaceWithDocs:
      allOf:
        - $ref: "#/components/schemas/Workspace"
        - type: object
          required:
          - docs
          properties:
            docs:
              type: array
              items:
                $ref: "#/components/schemas/Doc"
    WorkspaceWithOrg:
      allOf:
        - $ref: "#/components/schemas/Workspace"
        - type: object
          required:
          - org
          properties:
            org:
              $ref: "#/components/schemas/Org"
    OrgWithWorkspaces:
      allOf:
        - $ref: "#/components/schemas/Org"
        - type: object
          required:
          - workspaces
          properties:
            workspaces:
              type: array
              items:
                $ref: "#/components/schemas/WorkspaceWithDocs"
    DocWithWorkspace:
      allOf:
        - $ref: "#/components/schemas/Doc"
        - type: object
          required:
          - workspace
          properties:
            workspace:
              $ref: "#/components/schemas/WorkspaceWithOrg"
    User:
      type: object
      required:
        - id
        - name
        - picture
      properties:
        id:
          type: integer
          format: int64
          example: 101
        name:
          type: string
          example: "Helga Hufflepuff"
        picture:
          type: string
          nullable: true
          example: null
    Access:
      type: string
      enum:
        - owners
        - editors
        - viewers
    Data:
      type: object
      required:
        - id
      properties:
        id:
          type: array
          items:
            type: integer
      additionalProperties:
        type: array
        items: {}
      example:
        id: [1, 2]
        pet: ["cat", "dog"]
        popularity: [67, 95]
    DataWithoutId:
      type: object
      additionalProperties:
        type: array
        items: {}
      example:
        id: [1, 2]
        pet: ["cat", "dog"]
        popularity: [67, 95]
    RowIds:
      type: array
      example: [101, 102, 103]
      items:
        type: integer
    DocParameters:
      type: object
      properties:
        name:
          type: string
          example: "Competitive Analysis"
        isPinned:
          type: boolean
          example: false
    WorkspaceParameters:
      type: object
      properties:
        name:
          type: string
          example: "Retreat Docs"
    OrgParameters:
      type: object
      properties:
        name:
          type: string
          example: "ACME Unlimited"
    OrgAccessRead:
      type: object
      required:
        - users
      properties:
        users:
          type: array
          items:
            type: object
            required:
              - id
              - name
            properties:
              id:
                type: integer
                example: 1
              name:
                type: string
                example: "Andrea"
              email:
                type: string
                example: "andrea@getgrist.com"
              access:
                $ref: "#/components/schemas/Access"
    OrgAccessWrite:
      type: object
      required:
        - users
      properties:
        users:
          type: object
          additionalProperties:
            type: string
            enum:
              - owners
              - editors
              - viewers
              - members
              - null
          example:
            "foo@getgrist.com": "owners"
            "bar@getgrist.com": null
    WorkspaceAccessRead:
      type: object
      required:
        - maxInheritedRole
        - users
      properties:
        maxInheritedRole:
          $ref: "#/components/schemas/Access"
        users:
          type: array
          items:
            type: object
            required:
              - id
              - name
            properties:
              id:
                type: integer
                example: 1
              name:
                type: string
                example: "Andrea"
              email:
                type: string
                example: "andrea@getgrist.com"
              access:
                $ref: "#/components/schemas/Access"
              parentAccess:
                $ref: "#/components/schemas/Access"
    WorkspaceAccessWrite:
      type: object
      properties:
        maxInheritedRole:
          $ref: "#/components/schemas/Access"
        users:
          type: object
          additionalProperties:
            type: string
            enum:
              - owners
              - editors
              - viewers
              - members
              - null
          example:
            "foo@getgrist.com": "owners"
            "bar@getgrist.com": null
    DocAccessWrite:
      $ref: "#/components/schemas/WorkspaceAccessWrite"
    DocAccessRead:
      $ref: "#/components/schemas/WorkspaceAccessRead"
    AttachmentUpload:
      type: object
      properties:
        upload:
          type: array
          items:
            type: File
