<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    h1, h2 {
      margin: 20px 0 5px 0;
    }
    .api-info {
      padding-top: 20px !important;
    }
  </style>
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/highlight.pack.js"></script>
  <base target="_top">
  <script>
    var base_url = '..';
    var is_top_frame = false;
    var pageToc = [
      {title: "Authentication", url: "#section/Authentication" },
      {title: "Orgs", url: "#tag/orgs" },
      {title: "Workspaces", url: "#tag/workspaces" },
      {title: "Docs", url: "#tag/docs" },
      {title: "Data Tables", url: "#tag/Data-Tables" },
      {title: "Attachments", url: "#tag/Attachments" },
    ];
  </script>
  <script src="../js/base.js"></script>
  <script src="../js/grist.js"></script>
  {{{redocHead}}}
  {{#unless disableGoogleFont}}<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">{{/unless}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
