name: Push to HelpScout
on:
  push:
    branches:
      - hscout
  pull_request:
    branches:
      - hscout
jobs:
  push-to-helpscout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build docs for HelpScout
        run: mkdocs build -c -f hscout/mkdocs.yml

      - name: Push to HelpScout
        # Skip when no secrets are available (e.g. when running on a public fork)
        if: ${{ github.secret_source != 'None' }}
        env:
          HELPSCOUT_DOCS_API_KEY: ${{ secrets.HELPSCOUT_DOCS_API_KEY }}
          # Use dry-run except for pushes to master.
          DRYRUN: ${{ (github.event_name != 'push' && 'R') || '' }}
        run: python hscout/push_to_helpscout.py
